.signupContainer {
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.signupTitle {
  color: #4d179a;
  font-size: 1.2rem;
  margin: 10px 0 5px;
}

.signupDesc {
  color: #8832fe;
  font-size: 1.1rem;
  margin: 0 0 20px;
}
