.container {
  position: sticky;
  width: 100%;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdfcff;
  padding: 10px 60px;
  border-bottom: 2px solid #ede9ff;
  z-index: 100;
}

.container .btnsContainer {
  display: flex;
  align-items: center;
}

.githubBtn {
  outline: none;
  text-decoration: none;
  font-size: 0.9rem;
  display: flex;
  align-items: center;
  padding: 18px 15px;
  height: 30px;
  margin: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
  border: 1px solid #c9c5d6;
  background-color: #fff;
  color: #8832fe;
  text-align: center;
  transition: all 0.2s ease-in-out;
}

.githubBtn svg {
  margin-right: 5px;
  margin-bottom: 5px;
}

.githubBtn:hover {
  border-color: #8832fe;
  color: #000;
  background-color: #8732fe18;
}

.login {
  display: inline-block;
  text-decoration: none;
  padding: 4.5px 15px;
  border-radius: 5px;
  background: #8832fe;
  background: radial-gradient(
    circle,
    rgba(136, 50, 254, 1) 0%,
    rgba(77, 23, 154, 1) 100%
  );
  transition: all 0.2s ease-in-out;
  color: #fff;
}

.login:hover {
  filter: contrast(1.3);
  transform: scale(1.05);
}

.logo {
  display: flex;
  align-items: center;
  color: #8832fe;
  font-family: "Vazirmatn Bold";
  font-size: 1.3rem;
}

.logo svg {
  padding: 5px;
  width: 30px;
  height: 30px;
  color: #fff;
  background-color: #8832fe;
  border-radius: 10px;
  margin-left: 10px;
}

.profile {
  background: #fdfcff;
  border: 2px solid #8832fe;
  color: #8832fe;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
  width: 40px;
  height: 40px;
  padding-top: 6px;
  transition: all 0.2s ease-in-out;
}

.profile:hover {
  border-color: #000;
  color: #000;
}

.dropdownContent {
  background-color: #fdfcff;
  border-radius: 6px;
  border: 2px solid #8832fe;
  min-width: 160px;
  box-shadow: 0px 10px 15px -3px rgba(0, 0, 0, 0.1);
  z-index: 100;
  padding: 4px 0;
  overflow: hidden;
  transform: translateX(10%);
}

.dropdownItem {
  outline: none;
  display: block;
  width: 100%;
  padding: 10px 16px;
  font-size: 14px;
  color: #333;
  text-decoration: none;
  background-color: transparent;
  border: none;
  text-align: right;
  transition: all 0.3s ease;
  cursor: pointer;
}

.dropdownItem:hover {
  background-color: #f5f5f5;
  padding-right: 30px;
}

.dropdownItem svg {
  font-size: 1rem;
  margin-left: 5px;
}

.logout{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.album {
  color: #000;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.dropdownItem:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}