* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Vazirmatn Regular", sans-serif;
}

body {
  background: #cec5f7;
  background: linear-gradient(
    90deg,
    rgba(206, 197, 247, 1) 0%,
    rgba(244, 247, 252, 1) 24%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}
